body{
  margin: 0px;
  padding: 0px;
}


.node {
  cursor: pointer;
}

#gustLogo {
  margin-top: 80px;
  margin-bottom: 0px;
}

@media (max-width: 1400px) {
  #gustLogo {
    max-width: 700px;
  }
}

@media (max-width: 800px) {
  #gustLogo {
    max-width: 400px;
  }
}

.node--middle {
  display: none;
}

.node--leaf {
  display: none;
  fill:'#BDFCFF';
}

.label {
  font: .8em "Helvetica Neue Bold", Helvetica, Arial, sans-serif;
  color: #0B799A;
  line-height: 16px;
  /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; */
}

.label-middle-level {
  color: #A7D4DF;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.label-top-level {
  color:#ffffff;
}

circle:hover{
  stroke: white;
  stroke-width: 12px;
}

g{
  margin: 0 auto;
  display: block;
}

svg {
  background-color: #ffffff;
}

.about {
  font-family: sans-serif;
  color: #585A5C;
  width: 30%;
  padding-top: 80px;
  padding-left: 20px;
  position: fixed;
  top: 10px;
  left: 10px;
}

.top img{
  position: fixed;
  top: 10px;
  left: 16px;
  width: 100px;
 }

 .node--leaf{
  opacity: .5;
}

#openModal h2{
  font-size: 7em;
  margin-top: 55px;
  margin-bottom: 80px;
  font-weight: 400;
  color: #555;
  /* background: -webkit-linear-gradient(left, #4FBB7A, #45AEC3); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.close {
  border-radius: 3px;
  padding: 20px 40px;
  margin-top: 30px;
  background-color: #4FBB7A;
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.close:hover {
  background-color: #A7D4DF;
}


.modalDialog {
  text-align: center;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5px 20px 13px 20px;
  background: white;
}
